@import './reset.css';
@import './base.css';

#app {
    margin: auto;
    padding: 2rem;
    max-width: 1440px;
}

@media screen and (min-width: 720px) {
    #app {
        padding: 2rem;
    }
}

button,
a {
    cursor: pointer;
}

a {
    color: var(--color-interact);
}

button {
    background-color: var(--color-interact);
    color: var(--color-text);
    font-size: 1.2em;
    padding: 0.75em 2em;
    min-width: 70px;
    min-height: 25px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 0 0 black;
    transition: box-shadow 200ms ease-in-out;
}

button:hover {
    box-shadow: 4px 8px 8px -4px #111;
}

button:active {
    box-shadow: 2px 4px 4px -4px #111;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

p {
    font-size: 1em;
    line-height: 1.4;
}

.mono {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}
